{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'mart-trade/head.html' %}
</head>
<body>
	<main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      	{% if error %}
        <h1>{{status}}</h1>
        <h2>{{error}}</h2>
        {% endif %}
        <a class="btn" href="{% url 'index' %">Back to home</a>
        <img src="assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
        <div class="credits">
          Designed by <a href="https://www.mart4trade.com/">Mart4trade</a>
        </div>
      </section>

    </div>
  </main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'martcrm/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'martcrm/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'martcrm/vendor/chart.js/chart.umd.js' %}" ></script>
  <script src="{% static 'martcrm/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'martcrm/vendor/quill/quill.min.js'%}"></script>
  <script src="{% static 'martcrm/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'martcrm/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'martcrm/vendor/php-email-form/validate.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'martcrm/js/main.js' %}"></script>	
</body>
</html>